
.home {
    color: wheat;
}
.home .bckgrndimage{
    background-image: url("C:/Users/Harun/Desktop/Tasarım çalışması/tasarimcalismasi/src/assets/solid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}