.navbar {
    justify-content: left;
    list-style: none;
    /*top: 0;
    position: sticky;*/
    padding: 0px;
}
.navbar li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar ul {
    display: inline-block;
    margin: 0;
    padding: 5px;
}
.navbar ul.header {
    font-size: 32px;
    margin-right: 30px;
    margin-left: 1%;
}
.navbar .search a {
    color: white;
}
.navbar .person {
    color: white;
    text-decoration: none;
    padding: 4px 0;
    width: 48px;
    height: 36px;
}
.navbar .chevron-down {width: 12px; height: 12px; position: absolute; color: white; right: 0%; top: 32%;}
.navbar .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {display: block;}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    left: -53%;
    background-color: #f1f1f1;
    z-index: 1;
}
.navbar .dropdown-content a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    padding: 12px 16px;
    display: block;
}
.navbar .dropdown-content a:hover{
    background: #6c757d;
    color: black;
}
.navbar .btn-secondary {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.navbar .dropdown:hover {
    background-color: #6c757d;
}

.navbar .btn-secondary:hover {
    background-color: #6c757d;
}
.signin .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.signin .open {
    display: block;
}
/* Modal Content */
.signin .modal  .modal-content {
    background: #1d2e3b;
    align-items: flex-end;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}
  
/* The Close Button */
.navbar .signin .modal .modal-content .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.navbar .signin .modal .modal-content .close:hover,
.navbar .signin .modal .modal-content  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navbar .register .modal .modal-content .girisekrani:hover {
    text-decoration: underline;
}
.navbar .signin .modal .modal-content .sign-in-person {
    margin: auto;
    width: 80%;
    height: 150px;
}
.navbar .signin .modal .modal-content p {
    text-align: left;
    margin: auto;
    margin-bottom: 5px;
    width: 70%;
    cursor: default;
}
.navbar .signin .modal .modal-content .input {
    width: 67%;
    margin: auto;
    margin-bottom: 15px;
    border: 0px;
    padding: 5px;
    border-radius: 3px;
}
.navbar .signin .modal .modal-content .issignin {
    width: 100%;
    text-align: center;
    margin: auto;
}
.navbar .register .modal .modal-content .isregistered {
    width: 53%;
    text-align: center;
    margin: auto;
}
.navbar .register .modal .modal-content .success {
    color: rgb(0, 240, 0);
    font-weight: bold;
}
.navbar .register .modal .modal-content .failed {
    color: rgb(255, 59, 59);
    font-weight: bold;
}
.navbar .signin .modal .modal-content .success {
    color: rgb(0, 240, 0);
    font-weight: bold;
}
.navbar .signin .modal .modal-content .failed {
    color: rgb(255, 59, 59);
    font-weight: bold;
}
.navbar .signin .modal .modal-content .input:last-child {
    margin-bottom: 15%;
}
.navbar .signin .modal .modal-content .button {
    width: 27%;
    margin: auto;
    margin-bottom: 15px;
    padding: 8px;
    border: 0px;
    border-radius: 15px;
}
.navbar .signin .modal .modal-content .button:hover {
    background: rgba(78, 78, 78, 0.733);
    color: white;
}
.navbar .signin .modal .modal-content a {
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.514);
    margin: auto;
    margin-bottom: 15px;
    padding: 8px;
}
/* .navbar .signin .modal .modal-content .input:focus {
} */
/* REGİSTER */
.navbar .register .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
.navbar .register .open {
    display: block;
}
.navbar .register .modal  .modal-content {
    background: #161A1D;
    align-items: flex-end;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}
.navbar .register .modal .modal-content .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.navbar .register .modal .modal-content .close:hover,
.navbar .register .modal .modal-content  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navbar .register .modal .modal-content .sign-in-person {
    margin: auto;
    width: 80%;
    height: 150px;
}
.navbar .register .modal .modal-content p {
    text-align: left;
    margin: auto;
    margin-bottom: 5px;
    width: 70%;
    cursor: default;
}
.navbar .register .modal .modal-content .input {
    width: 67%;
    margin: auto;
    margin-bottom: 15px;
    border: 0px;
    padding: 5px;
    border-radius: 3px;
}
.navbar .register .modal .modal-content .input:last-child {
    margin-bottom: 15%;
}
.navbar .register .modal .modal-content .button {
    width: 27%;
    margin: auto;
    margin-bottom: 15px;
    padding: 8px;
    border: 0px;
    border-radius: 15px;
}
.navbar .register .modal .modal-content .button:hover {
    background: rgba(78, 78, 78, 0.733);
    color: white;
}
.navbar .register .modal .modal-content a {
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.514);
    margin: auto;
    margin-bottom: 15px;
    padding: 8px;
}

@media screen and (max-width: 1541px) {
    .navbar .signin .modal .modal-content p {
        font-size: 15px;
    }
    .navbar .signin .modal .modal-content .button {
        font-size: 14px;
    }
}
@media screen and (max-width: 1401px) {
    .navbar .signin .modal .modal-content .button {
        width: 30%;
    }
}
@media screen and (max-width: 1279px) {
    .navbar .signin .modal .modal-content .button {
        width: 35%;
    }
}
@media screen and (max-width: 1123px) {
    .navbar .signin .modal .modal-content .button {
        width: 40%;
    }
}
@media screen and (max-width: 1006px) {
    .navbar .signin .modal .modal-content .button {
        width: 45%;
    }
}
@media screen and (max-width: 914px) {
    .navbar .signin .modal .modal-content p {
        font-size: 13px;
    }
    .navbar .signin .modal .modal-content .button {
        font-size: 12px;
    }
}